* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #838493;
  height: 100dvh;
  width: 100dvw;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
}

/* MAIN CONTAINERS */
#owl-container {
  height: calc(100% - 190px);
  display: flex;
}

/* IN THE OWL CONTAINER */
#menu-fight-container {
 width: calc(100% - 230px);
}

#enemy-stats-container {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ENEMY BARS */
#enemy-health-bar {
  width: 50px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.enemy-hp-segment {
  background-color: oklch(41.47% 0.155 25.41);
  border-style: solid;
  border-color: black;
  border-width: 0 1px 0 1px;
}

#enemy-health-bar .enemy-hp-segment:first-child {
  border-top: 1px solid black;
}

#enemy-health-bar .enemy-hp-segment:last-child {
  border-bottom: 1px solid black;
}

/* DISCARD PILE OFFCANVA */
#opened-discard-pile {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  justify-content: center;
  align-items: flex-end;
}

#close-discard-pile {
  width: 50px;
  aspect-ratio: 1/1;
  background-image: url('../imgs/Circle\ Xmark.png');
  background-size: contain;
  position: absolute;
  left: 42px;
  bottom: 210px;
}

#opened-discard-pile-content {
  width: 70%;
  height: calc(100vh - 135px);
  background-color: rgba(174, 187, 118, 0.7);
  padding: 4rem 3.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
  overflow-y: auto;
}

/* DECK OFFCANVA */
